Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
Makefile
libtool
stamp-h1
config.log
config.h
config.status
.libs
config.h.in~
libsha1.la
sha1.lo
sha1.o
test
test.o
config.h.in
libsha1.pc
libsha1-*.tar.gz
